[Desktop Entry]
Type=Application
Name=TVLauncher
Exec=/<path_to>/TvLauncher/venv/bin/python3 /<path_to>/TvLauncher/TvLauncher_linux.py
Path=/<path_to>/TvLauncher/
Terminal=false
X-GNOME-Autostart-enabled=true
